<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Customer</h1>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <form class="" action="/secrets" method="post">
            <label for="principalAmount">How much would you like?</label>
            <input type="number" name="principalAmount" value="" placeholder="Please Enter Amount Here">
            <input type="number" name="tenure" value="" placeholder="Enter Tenure In Months" min="3" max="60">
            <input type="number" name="interestRate" value="" placeholder="Enter Interest in Numbers" min="8" max="20">
            <label for="Submit To Review Details"></label>
            <button type="submit" name="button">Submit</button>
            </form>
          <a href="/logout"><button type="button" name="button">Logout</button></a>
          </div>
        </div>
      </div>
  </body>
</html>
