<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div style="background-color:grey" class="col-lg-2">
          <h5 style="display:inline" >1</h5>
        </div>
        <div style="background-color:grey" class="col-lg-2">
          <h5 style="display:inline">1</h5>
        </div>
        <div style="background-color:grey" class="col-lg-2">
          <h5 style="display:inline">1</h5>
        </div>
        <div style="background-color:grey" class="col-lg-2">
          <h5 style="display:inline" >1</h5>
        </div>
        <div style="background-color:grey" class="col-lg-2">
          <h5 style="display:inline">1</h5>
        </div>
        <div style="background-color:grey" class="col-lg-2">
          <h5 style="display:inline">1</h5>
        </div>
      </div>
    </div>
    <a href="/logout"><button type="button" name="button">Logout</button></a>
  </body>
</html>
