<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="root">
      <h1>Admin</h1>
    </div>
    <a href="/logout"><button type="button" name="button">Logout</button></a>
  </body>
</html>
